---
layout: default
---
{% block content %}
    <section class="section--center mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <blockquote>The function of good software is to make the complex appear to be simple.
                <cite>Grady Booch</cite></blockquote>
        </div>
    </section>

    <section class="section--center section__vcard mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-cell--middle section__vcard__avatar-container">
            <picture>
                <source media="(min-width: 840px)" srcset="/images/Thomas-Juhnke_portrait-{{ site.portrait_style }}.jpg, /images/Thomas-Juhnke_portrait-{{ site.portrait_style }}@2x.jpg 2x">
                <source media="(min-width: 480px)" srcset="/images/Thomas-Juhnke_portrait-{{ site.portrait_style }}-185x185.jpg, /images/Thomas-Juhnke_portrait-{{ site.portrait_style }}-185x185@2x.jpg 2x">
                <img class="section__vcard_avatar-container__avatar" src="/images/Thomas-Juhnke_portrait-{{ site.portrait_style }}.jpg"
                     srcset="/images/Thomas-Juhnke_portrait-{{ site.portrait_style }}@2x.jpg 2x"
                     alt="Thomas Juhnke Softwareentwickler">
            </picture>
        </div>
        <div class="mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--middle">
            <h1 class="section__vcard__header mdl-typography--text-uppercase">
                <small>Thomas</small>
                <br>
                Juhnke<br>
                <small>Software&shy;entwickler</small>
            </h1>
        </div>
    </section>

    <section id="mission-statement" class="section--center mdl-grid mdl-shadow--4dp mdl-color--indigo-900 mdl-color-text--white">
        <div class="mdl-cell mdl-cell--12-col">
            <h2>Leitbild</h2>

            <p>Ich entwickle <strong>Software nach Ihren Wünschen</strong> mit hohen Anforderungen an
                <strong>Qualität, Sicherheit und Zuverlässigkeit</strong>, testgetrieben und unter
                Berücksichtigung Ihrer Geschäftsdomäne in Anlehnung an Domain Driven
                Design-Praktiken.</p>

            <p>Die <strong>Pflege und Weiterentwicklung Ihrer bestehenden Softwarelösungen</strong> sind
                für mich ebenso bedeutsam wie die Integration von <strong>neuen Technologien, wenn
                    es sinnvoll ist</strong> und es die Anforderungen zulassen.</p>
        </div>
    </section>

    <section class="section--center mdl-grid">
        <h3 class="mdl-cell mdl-cell--4-col">Mein Angebot</h3>
        <div class="mdl-cell mdl-cell--8-col">
            <p>Ich unterstütze Sie bei …</p>
            <ul>
                <li>der Konzeption &amp; Planung von kleinen bis mittelgroßen Softwareprojekten</li>
                <li>der Softwareentwicklung und -architektur mit agilen Vorgehensmodellen, auch im Team</li>
                <li>der Pflege und Weiterentwicklung Ihrer bestehenden Softwarelösungen</li>
                <li>der Verbesserung der Softwarequalität und -stabilität</li>
            </ul>
        </div>
    </section>

    <section id="about-me" class="section--center mdl-grid">
        <h3 class="mdl-cell mdl-cell--4-col">Über mich</h3>

        <div class="mdl-cell mdl-cell--8-col">
            <p>Bereits seit 1999 entwickle ich Software in verschiedenen Programmiersprachen.
                Durch mein Studium der Informatik und Wirtschaftsinformatik und meine <strong>langjährige
                    Erfahrung</strong> in Unternehmen unterschiedlicher Größe und Aufgabengebieten decke
                ich die umfangreiche Palette der Anforderungen an einen Softwareentwickler sehr
                gut ab:</p>

            <ul>
                <li>technische Konzeption, Planung und Kommunikation mit allen Interessensgruppen</li>
                <li>Continuous Integration und Continous Delivery</li>
                <li>Profiling und statische Codeanalyse</li>
                <li>infrastrukturnahe Tätigkeiten ("DevOps")</li>
            </ul>
        </div>

        <h4 class="mdl-cell mdl-cell--12-col">Berufserfahrung</h4>
    </section>

    <div class="mdl-color--grey-100">
        <section class="section--center mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                {% include 'timeline.twig' %}
            </div>
        </section>
    </div>

    <section id="contact" class="section--center mdl-grid">
        <h2 class="mdl-cell mdl-cell--12-col">Kontakt</h2>

        <div class="mdl-cell mdl-cell--4-col">
            <p>Rüdigerstraße 43<br>
                10365 Berlin<br>
                +49 (0) 178 54 56 492
            </p>
            <p>
                <a href="mailto:thomas.juhnke@dreadlabs.com" class="mdl-button mdl-button--colored mdl-button--fab">
                    <i class="material-icons">email</i></a>
            </p>
        </div>

        <div class="mdl-cell mdl-cell--8-col">
            <p>Ich freue mich über Ihre Nachricht:</p>
            <form action="#">
                <div class="mdl-grid zzz-mdl-grid--no-spacing">
                    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
                            <input class="mdl-textfield__input" type="text" id="firstname">
                            <label class="mdl-textfield__label" for="firstname">Vorname</label>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
                            <input class="mdl-textfield__input" type="text" id="lastname">
                            <label class="mdl-textfield__label" for="lastname">Nachname</label>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
                            <textarea class="mdl-textfield__input" type="text" rows="9" id="message"></textarea>
                            <label class="mdl-textfield__label" for="message">Ihre Nachricht</label>
                        </div>
                    </div>
                </div>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-button--raised">
                    Senden
                </button>
            </form>
        </div>
    </section>

    <section id="network" class="section--center section__network mdl-grid">
        <h2 class="mdl-cell mdl-cell--12-col">Netzwerk</h2>
    </section>

    <div class="mdl-color--grey-50">
        {% include 'network.twig' %}
    </div>
{% endblock %}
